In [1]:
import pandas as pd
import re

In [2]:
import os
import glob
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches

from os import listdir, walk
from os.path import isfile, join
from pandas.plotting import parallel_coordinates
from tabulate import tabulate, SEPARATING_LINE

# Generate construction heuristics tables

In [3]:
df = pd.read_csv('analysis_fixed.csv')

In [4]:
df.columns

Index(['Instance_Name', 'Number_Of_Customers', 'Number_Of_Hotels',
       'Objective_Value', 'Sum_of_Trips', 'Penalties', 'Hotel_Fees',
       'Max_Trip_Length', 'Number_Of_Trips', 'Prize', 'Time', 'Trace',
       'Neighborhood', 'Step_Function'],
      dtype='object')

In [6]:
table_0 = df[['Instance_Name','Objective_Value','Sum_of_Trips','Penalties','Hotel_Fees','Max_Trip_Length','Number_Of_Trips','Prize']]
#table_1 = df[['Instance_Name','Time','Percentate-of-collected-prizes','procedure-type','alpha','beta','gamma','delta']]

In [10]:
df[df["Step_Function"] == "Step_Function_Type.FIRST"]

,Instance_Name,Number_Of_Customers,Number_Of_Hotels,Objective_Value,Sum_of_Trips,Penalties,Hotel_Fees,Max_Trip_Length,Number_Of_Trips,Prize,Time,Trace,Neighborhood,Step_Function
0,rand_21,289,13,4780,2474,865,1441,315,8,11326,0.001286,[4785; 4780; 4780],remove_customer,Step_Function_Type.FIRST
1,rand_21,289,13,4748,2503,804,1441,320,8,11546,0.378626,[4785; 4772; 4756; 4755; 4748; 4748],add_customer,Step_Function_Type.FIRST
2,rand_21,289,13,4715,2418,856,1441,310,8,11334,0.472608,[4785; 4780; 4778; 4774; 4770; 4768; 4762; 475...,insert_customer,Step_Function_Type.FIRST
3,rand_21,289,13,4746,2498,807,1441,319,8,11345,0.436285,[4785; 4770; 4762; 4757; 4751; 4746; 4746],swap_served_unserved_customer,Step_Function_Type.FIRST
4,rand_21,289,13,4730,2433,856,1441,310,8,11334,0.266781,[4785; 4782; 4781; 4777; 4773; 4771; 4769; 476...,interchange_customers,Step_Function_Type.FIRST
5,rand_21,289,13,4701,2404,856,1441,310,8,11334,0.185928,[4785; 4782; 4780; 4778; 4774; 4770; 4768; 475...,trip_2_opt,Step_Function_Type.FIRST
6,rand_21,289,13,4785,2488,856,1441,315,8,11334,0.000077,[4785; 4785],remove_hotel,Step_Function_Type.FIRST
7,rand_21,289,13,4785,2488,856,1441,315,8,11334,0.038786,[4785; 4785],add_hotel,Step_Function_Type.FIRST
8,rand_21,289,13,4785,2488,856,1441,315,8,11334,0.001036,[4785; 4785],exchange_hotel,Step_Function_Type.FIRST
9,rand_21,289,13,4785,2488,856,1441,315,8,11334,0.006514,[4785; 4785],move_hotel,Step_Function_Type.FIRST

In [7]:
print(tabulate(table_0, headers=table_0.columns, tablefmt='latex'))

\begin{tabular}{rlrrrrrrr}
\hline
    & Instance\_Name   &   Objective\_Value &   Sum\_of\_Trips &   Penalties &   Hotel\_Fees &   Max\_Trip\_Length &   Number\_Of\_Trips &   Prize \\
\hline
  0 & rand\_21         &              4780 &           2474 &         865 &         1441 &               315 &                 8 &   11326 \\
  1 & rand\_21         &              4748 &           2503 &         804 &         1441 &               320 &                 8 &   11546 \\
  2 & rand\_21         &              4715 &           2418 &         856 &         1441 &               310 &                 8 &   11334 \\
  3 & rand\_21         &              4746 &           2498 &         807 &         1441 &               319 &                 8 &   11345 \\
  4 & rand\_21         &              4730 &           2433 &         856 &         1441 &               310 &                 8 &   11334 \\
  5 & rand\_21         &              4701 &           2404 &         856 &         1441 &               310 &                 8 &   11334 \\
  6 & rand\_21         &              4785 &           2488 &         856 &         1441 &               315 &                 8 &   11334 \\
  7 & rand\_21         &              4785 &           2488 &         856 &         1441 &               315 &                 8 &   11334 \\
  8 & rand\_21         &              4785 &           2488 &         856 &         1441 &               315 &                 8 &   11334 \\
  9 & rand\_21         &              4785 &           2488 &         856 &         1441 &               315 &                 8 &   11334 \\
 10 & rand\_21         &              4774 &           2472 &         861 &         1441 &               315 &                 8 &   11319 \\
 11 & rand\_21         &              4743 &           2492 &         810 &         1441 &               316 &                 8 &   11458 \\
 12 & rand\_21         &              4715 &           2418 &         856 &         1441 &               310 &                 8 &   11334 \\
 13 & rand\_21         &              4741 &           2496 &         804 &         1441 &               317 &                 8 &   11329 \\
 14 & rand\_21         &              4727 &           2430 &         856 &         1441 &               310 &                 8 &   11334 \\
 15 & rand\_21         &              4699 &           2402 &         856 &         1441 &               310 &                 8 &   11334 \\
 16 & rand\_21         &              4785 &           2488 &         856 &         1441 &               315 &                 8 &   11334 \\
 17 & rand\_21         &              4785 &           2488 &         856 &         1441 &               315 &                 8 &   11334 \\
 18 & rand\_21         &              4785 &           2488 &         856 &         1441 &               315 &                 8 &   11334 \\
 19 & rand\_21         &              4785 &           2488 &         856 &         1441 &               315 &                 8 &   11334 \\
 20 & rand\_21         &              4780 &           2474 &         865 &         1441 &               315 &                 8 &   11326 \\
 21 & rand\_21         &              4783 &           2494 &         848 &         1441 &               315 &                 8 &   11384 \\
 22 & rand\_21         &              4772 &           2475 &         856 &         1441 &               314 &                 8 &   11334 \\
 23 & rand\_21         &              4785 &           2488 &         856 &         1441 &               315 &                 8 &   11334 \\
 24 & rand\_21         &              4777 &           2480 &         856 &         1441 &               315 &                 8 &   11334 \\
 25 & rand\_21         &              4773 &           2476 &         856 &         1441 &               315 &                 8 &   11334 \\
 26 & rand\_21         &              4785 &           2488 &         856 &         1441 &               315 &                 8 &   11334 \\
 27 & rand\_21         &              4785 &           2488 &         856 &         1441 &               315 &                 8 &   11334 \\
 28 & rand\_21         &              4785 &           2488 &         856 &         1441 &               315 &                 8 &   11334 \\
 29 & rand\_21         &              4785 &           2488 &         856 &         1441 &               315 &                 8 &   11334 \\
\hline
\end{tabular}

In [27]:
print(tabulate(table_1, headers = table_1.columns, tablefmt='latex'))

\begin{tabular}{rlrrlrrrr}
\hline
    & Instance\_Name   &        Time &   Percentate-of-collected-prizes & procedure-type                   &   alpha &   beta &   gamma &   delta \\
\hline
  0 & test            &   0.0017345 &                         1        & backtracking                     &       1 &   0.2  &    0.2  &     0.2 \\
  1 & rc101\_1         &   0.0307431 &                         1        & insertion-heuristic-sum-of-trips &       1 &   0    &    0    &     0   \\
  2 & pr8\_1           &   0.426633  &                         1        & pure-greedy                      &       1 &   0    &    0    &     0   \\
  3 & eil51\_1         &   1.16948   &                         0.769627 & pure-greedy                      &       2 &  -0.25 &    0.05 &     0.5 \\
  4 & berlin51\_1      &   4.58605   &                         1        & pure-greedy                      &       1 &   0    &    0    &     0   \\
  5 & berlin52\_2      &   3.28675   &                         0.797297 & pure-greedy                      &       1 &   0    &    0    &     0   \\
  6 & berlin52\_3      &   4.22309   &                         0.505068 & pure-greedy                      &       1 &   0    &    0    &     0   \\
  7 & rc101\_2         &  16.4769    &                         1        & backtracking                     &       1 &  -0.5  &   -0.5  &     0.5 \\
  8 & rc101\_3         &  11.8482    &                         0.761544 & backtracking                     &       1 &  -0.4  &   -0.1  &     1   \\
  9 & pr8\_2           &  38.4728    &                         1        & insertion-diverse-hotels         &       1 &   0    &    0    &     0   \\
 10 & gil250\_1        & 130.302     &                         0.752024 & backtracking                     &       1 &  -0.4  &   -0.1  &     1   \\
 11 & gil262\_1        & 189.11      &                         0.755906 & backtracking                     &       1 &   0    &    0    &     0.5 \\
 12 & a280\_1          & 250.723     &                         1        & backtracking                     &       1 &  -0.5  &   -0.5  &     0.5 \\
\hline
\end{tabular}